# Host definitionen

define host {
  host_name                      climateplus_66bb
  alias                          climateplus_66bb
  use                            generic-host
  address                        127.0.0.1                  ; DUMMY
  _IPV6_ADDRESS                  aaaa::221:2eff:ff00:66bb
}

# Gruppen definitionen


# Services definitionen


define service {
  service_description            battery
  host_name                      climateplus_66bb
  use                            generic-service
  check_command                  check-battery!2.100:!2.000:
  contact_groups                 check_mk
}

define service {
  service_description            temp
  host_name                      climateplus_66bb
  use                            generic-service
  check_command                  check-temp!50.100!60.000
  contact_groups                 check_mk
}

define service {
  service_description            hum
  host_name                      climateplus_66bb
  use                            generic-service
  check_command                  check-hum!70.100!78.000
  contact_groups                 check_mk
}

#define service {
#  service_description            lux
#  host_name                      climateplus_66bb
#  use                            generic-service
#  check_command                  check-lux!10000!10000
#  contact_groups                 check_mk
#}

#define service {
#  service_description            press
#  host_name                      climateplus_66bb
#  use                            generic-service
#  check_command                  check-press!100000!100000
#  contact_groups                 check_mk
#}

# Command definitionen

define command {
  command_name                   check-moisture
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/moisture -w $ARG1$ -c $ARG2$  -p 5
}

define command {
  command_name                   check-supercap
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/battery -w $ARG1$ -c $ARG2$ -p 5
}

define command {
  command_name                   check-battery
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/battery -w $ARG1$ -c $ARG2$ -p 5
}

define command {
  command_name                   check-cputemp
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/cputemp -w $ARG1$ -c $ARG2$  -p 5
}

define command {
  command_name                   check-temp
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/temp -w $ARG1$ -c $ARG2$  -p 5
}

define command {
  command_name                   check-hum
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/hum -w $ARG1$ -c $ARG2$  -p 5
}

define command {
command_name                   check-lux
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/lux -w $ARG1$ -c $ARG2$  -p 5
}

define command {
  command_name                   check-press
  command_line                   $USER4$/lib/nagios/plugins/check_coap.pl -H $_HOSTIPV6_ADDRESS$ -u s/press -w $ARG1$ -c $ARG2$  -p 5
}

